[submodule "software/Unity"]
	path = software/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git

[submodule "software/FT800-FT813"]
	path = software/FT800-FT813
	url = git@github.com:RudolphRiedel/FT800-FT813.git
