[submodule "software/Unity"]
	path = software/Unity
	url = git@github.com:ThrowTheSwitch/Unity.git
[submodule "software/FT800-FT813"]
	path = software/FT800-FT813
	url = git@github.com:oskarvh/FT800-FT813.git
[submodule "software/FreeRTOS-Kernel"]
	path = software/FreeRTOS-Kernel
	url = git@github.com:FreeRTOS/FreeRTOS-Kernel.git
	branch = V10.6.1
[submodule "firmware/renesas/fsp"]
	path = firmware/renesas/fsp
	url = git@github.com:renesas/fsp.git
	branch = v4.6.0
[submodule "firmware/renesas/CMSIS_5"]
	path = firmware/renesas/CMSIS_5
	url = git@github.com:ARM-software/CMSIS_5.git
	branch = 5.9.0
